<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior DevOps Enginner</h3>
                            <div class="time">September 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">United Cloud, Belgrade</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tasked with designing and developing the business’s large infrastructure architecture as well as developing automated tools meant for building development and production environments.</p>
                        <p>Troubleshooting complex issues as quickly and effectively as possible, diagnoses symptoms, analyzes root causes, and employ preventative measures to avoid reoccurrence of similar issues.</p>  
                        <p>Maintain the business’s configuration and deployment tools such as Jenkins and Ansible, transforming them into a robust system in order to auto-scale the business’s platform.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud Enginner</h3>
                            <div class="time">June 2015 - September 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">NetCast, Belgrade</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Develop continuous delivery and infrastructure automation solutions for various project and operational needs for our customers</p>
                      <p>Develop and improve solutions that provide infrastructure services for the business applications, ensuring availability, load balancing, one-button deployment solutions, infrastructure management and troubleshooting</p>
                      <p>Perform periodic performance analysis to support capacity planning</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Linux Administrator</h3>
                            <div class="time">May 2006 - August 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Control Point, Uzice</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Installed and administered FreeBSD, OpenBSD, Redhat Linux and Windows NT servers.</p>
                        <p>Hardening systems with Security Enhanced Linux, iptables and TCP wrappers<p/>
                        <p>Custom shell (Bash, Zshell) scripts and CGI scripts to perform system backup.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
