<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior DevOps Enginner</h3>
                            <div class="time">September 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">United Cloud, Belgrade</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tasked with designing and developing the business’s large infrastructure architecture as well as developing automated tools meant for building development and production environments. Troubleshooting complex issues as quickly and effectively as possible, diagnoses symptoms, analyzes root causes, and employ preventative measures to avoid reoccurrence of similar issues.</p>  
                        <p>Maintain the business’s configuration and deployment tools such as Jenkins and Puppet, transforming them into a robust system in order to auto-scale the business’s platform.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud Enginner</h3>
                            <div class="time">June 2015 - September 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">NetCast, Belgrade</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
