<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Volunteer Experience</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Gentoo Serbia LUG</a></span> - 
                    <span class="project-tagline">Serbian community built around Gentoo Linux distribution.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">GNUzilla magazine, Free Software Network</a></span> - <span class="project-tagline">First digital (PDF) monthly about Open Standards in the region. GNUzilla released ~40 issues, with ~150000 downloads in total.</span>
                </div><!--//item-->
            </section><!--//section-->
